{% extends "layout.html" %}
{% block content %}
<div class="container my-3">
    <h2 class="border-bottom py-2">{{ article.subject}}</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ article.content }}</div>
            <div class="d-flex justify-content-end">
                <div class="badge badge-light p-2">
                    작성자: {{ article.writer }}
                </div>
                <div class="badge badge-light p-2">
                    {{ article.regDate }}
                </div>
            </div>
        </div>
    </div>
    <a href="/board?page={{page}}&amp;searchParam={{searchParam}}" class="btn btn-primary">목록</a>
    <a href="/board/updateForm/{{article.bid}}?page={{page}}&amp;searchParam={{searchParam}}" class="btn btn-success">수정</a>
    <a href="/board/deleteBBS/{{article.bid}}?page={{page}}&amp;searchParam={{searchParam}}" class="btn btn-danger" onclick="return confirm('게시물을 삭제하겠습니까?')">삭제</a>

</div>
{% endblock %}